/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Noto+Serif&display=swap'); */

.contact-page-container {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.contact-title {
    font-size: 3vw;
    margin-bottom: 5%;
    /* font-family: 'Cairo', sans-serif;; */
}

@media screen and (max-width:910px){
    .contact-title {
        font-size: 7vw;
    }
}