.home-container{
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
} 

h1{
    font-size: 3vw;
}

.project-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: 80%;
}

