.home-container{
    padding-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
} 

.home-title{
    font-size: 3vw;
}

.project-cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: 80%;
}

@media screen and (max-width: 910px) {
    .home-container{
        padding-top: 60px;
        display:flex;
        flex-direction: column;
        align-items: center;
    } 
    .project-cards-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        height: auto;
        width: 80%;
    }

    .home-title{
        font-size: 7vw;
    }

}

