.mini-card-image{
    width: 15vw;
    height: 10vw;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    transition: .5s;
}

.mini-card-image:hover{
    filter: opacity(.5);
}

@media screen and (max-width:910px){
    .mini-card-image{
        width: 20vw;
        height: 15vw;
        border-radius: 15px;
        object-fit: cover;
        object-position: center;
        transition: .5s;
    }
    .mini-card-image:hover{
        filter: none;
    }
}