.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 49%;
}

.card-title{
    font-size: 2vw;
}

.card-image{
    width: 39.5vw;
    height: 20vw;
    object-fit: cover;
    object-position: center;
    transition: .5s;
}

.card-image:hover{
    filter: opacity(.5);
}

@media screen and (max-width: 1030px) {
    .card-image{
        width: 80vw;
        height: 40vw;
    }
}